* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #776b5d;
}
.container {
  margin: 2%;
  height: 100%;
  border-radius: 20px;
  background-color: white;
  padding: 2%;
  text-align: center;
  line-height: 2rem;
}
.container2 {
  font-size: 40px;
  text-align: center;
  padding-top: 10%;
}
.codePng {
  height: 300px;
}

.heading {
  color: #776b5d;
}
.formPng {
  height: 350px;
  width: 500px;
}
.tablePng {
  height: 600px;
  width: 500px;
}
.table {
  margin-left: 44%;
}
.peraPng {
  height: 400px;
  width: 700px;
}
.peraContent {
  font-size: larger;
}
.listPng {
  height: 400px;
  width: 590px;
}
.list {
  text-align: left;
}
.listUlOl {
  display: flex;
  justify-content: space-around;
}
.stylePng {
  height: 340px;
  width: 450px;
}
.formatingPng {
  height: 300px;
  width: 500px;
}
.commentPng {
  height: 400px;
  width: 560px;
}
.linkPng {
  height: 390px;
  width: 500px;
}
.imgPng {
  height: 300px;
  width: 350px;
}
.faviconPng {
  width: 100%;
}
.favPng {
  height: 400px;
}
.favContainer {
  height: 100%;
}
.blockPng {
  height: 400px;
}
.inline {
  height: 400px;
}
.classPng {
  height: 500px;
  width: 450x;
}
.idPng {
  height: 400px;
}
.iframePng {
  height: 400px;
  width: 100%;
}
.navBar {
  display: flex;
  justify-content: space-between;
}

.navHeader {
  display: flex;
  text-align: right;
  height: 60px;
  width: 100%;
  justify-content: space-between;
  background-color: aliceblue;
  border-radius: 0px 0px 20px 20px;
  font-size: larger;
}
.nav2container {
  display: flex;
}
.containerBtn {
  padding: 10px;
  font-size: x-large;
  font-weight: bold;
  margin-right: 10px;
  color: #776b5d;
}
.containerBtn:hover {
  background-color: aliceblue;
  color: #776b5d;
  border-radius: 10px;
  margin: 5px;
}
.icon {
  margin-left: 30px;
  height: 50px;
}
.linkBtn {
  color: #776b5d;
}
.Btn {
  margin-left: 30px;
  margin-top: 10px;
}
.link {
  text-decoration: none;
}
.semanticPng {
  height: 600px;
}
.symbolPng {
  height: 300px;
}
.emojiPng {
  height: 200px;
}
.mediaPng {
  height: 300px;
}
.table {
  margin-left: 30%;
}
.table2 {
  margin-left: 15%;
}
.canvasPng {
  height: 400px;
}
.cssSyntaxPng {
  height: 300px;
}
.selectorPng {
  height: 400px;
}
.colorPng {
  height: 300px;
}
.backgroundPng {
  height: 300px;
}
.border {
  height: 550px;
  width: 400px;
}
.marginPng {
  height: 300px;
}
.paddingPng {
  height: 300px;
}
.boxmodel {
  height: 400px;
  width: 500px;
}
.outlinePng {
  height: 300px;
}
.textAlign {
  height: 400px;
}
.fontfam {
  height: 400px;
  width: 500px;
}

.linkcss {
  height: 300px;
}

.listA {
  margin-left: 50%;
}
.listPng {
  height: 900px;
  width: 300px;
}
.tablePng {
  height: 500px;
  width: 350px;
}
.tableA {
  margin-left: 45%;
}
.inlineCss {
  height: 400px;
}
.block {
  height: 400px;
}
.maxWidthPng {
  height: 400px;
  width: 500px;
}
.staticPng {
  height: 400px;
}
.fixeda {
  height: 300px;
}
.absolutePng {
  height: 400px;
}
.stickya {
  height: 500px;
  width: 100%;
}
.zindexa {
  height: 400px;
}
.overflowPng {
  height: 500px;
}
.overflowTestA {
  margin-left: 25%;
}
.floatPng {
  height: 400px;
}
.alingPng {
  height: 400px;
}
.buttonPng {
  height: 400px;
}
.headingPng {
  height: 600px;
}
/* responsive */
@media (max-width: 480px) {
  .containerBtn {
    padding: 15px;
    font-size: medium;
    display: flex;
  }
  .nav2container {
    text-align: center;
    justify-content: center;
    padding: 0 5%;
  }

  .containerBtn:hover {
    background-color: #776b5d;
    color: whitesmoke;
    border-radius: 10px;
    margin: 1px;
    height: 35px;
  }
  .imgPng {
    width: 100%;
    border-radius: 10px;
  }
  .container {
    font-size: medium;
    padding: 10px;
  }
  .listPng {
    height: 350px;
  }
  .headingPng {
    height: 250px;
  }
  .favPng {
    height: 250px;
    width: 300px;
  }
  .blockPng {
    height: 100px;
    width: 340px;
  }
  .inline {
    height: 300px;
  }
  .iframePng {
    height: 100px;
    width: 100%;
  }
  .semanticPng {
    height: 150px;
  }
  .mediaPng {
    height: 120px;
  }
  .mobTable {
    margin-left: 2%;
    border: 1px solid;
  }
  .canvasPng {
    height: 150px;
  }
  .colorPng {
    height: 200px;
  }
  .border {
    height: 350px;
    width: 350px;
  }
  .boxmodel {
    height: 250px;
  }
  .div1 {
    margin-left: 1%;
    width: 200px;
  }
  .listPng {
    height: 550px;
    width: 240px;
  }
  .staticPng {
    height: 200px;
  }
  .fixeda {
    height: 100px;
  }
  .absolutePng {
    height: 200px;
  }
}
