*{
    margin: 0;
    padding: 0;
}
/* -----------------Nav Bar--------------------- */
.navBar{
    text-align: center;
    font-size: larger;
    color: white;
    height: 60px;
    background-color: aliceblue;
    border-radius: 0px 0px 10px 10px;
}
body{
    background-color: aliceblue;
}
.navBar h1{
    padding-top: 10px;
    font-size: 80px;
    color: #776B5D;
}

/* ---------------------practice Container--------------- */
.practiceContainer{
    background-color: #776B5D;
    padding: 5%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 20px;
    align-items: center;
}
.cards{
    margin: 15px;
    text-align: center;
    justify-content: center;
    border-radius: 20px;
    height: 200px;
    width: 200px;
    background-color: white;
    box-shadow: 30px 40px 40px rgba(0,0,0,0.4);
    border: 3px solid white;

}
.cards:hover{
    background-color: white;
    border: 3px solid #776B5D;
}
.cards h2{
    margin-top: 40%;
    color: #643843;
}
.cards a{
    text-decoration: none;
}
.png4{
    margin-top: -40px;
    margin-left: 34%;
}
.link{
    text-decoration: none;
}
.navHeader{
    display: flex;
    text-align: right;
    height: 60px;
    width: 100%;
    justify-content: space-between;
    background-color: #776B5D;
    border-radius: 0px 0px 20px 20px;
    font-size: larger;
    
}
.nav2container{
    display: flex;
}
.containerBtn{
    padding: 10px;
    font-size: x-large;
    font-weight: bold;
    margin-right: 10px;
    color: white;
}
.containerBtn:hover{
    background-color: aliceblue;
    color: #776B5D;
    border-radius: 10px;
    margin: 5px;
}
.icon{
    margin-left: 30px;
    height: 50px;
}
.linkBtn{
    color: aliceblue;
}
.Btn{
    margin-left: 30px;
    margin-top: 10px;
}